/* .antarcticaImages {
        border: 1px solid #ddd;
        max-width: 100%;
        height: auto;
      } */

.antarcticaImages {
    width: 100%;
    max-width:100px;
    max-height: 100px;
}

/* antarctica {
} */

