/* .antarcticaImages {
        border: 1px solid #ddd;
        max-width: 100%;
        height: auto;
      } */

/* .antarcticaImages {
    width: 100%;
    height: 100%;
    /* max-width:250px; */
    /* max-height: 250px; */
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    opacity: .9;
    border-radius: 1%;
} */

/* antarctica {
} */

/* .logo_antarctica {
  width: 50px;
} */