.contentContainer__countries {
    margin: 0;
    padding: 0;
}

.landingContentContainer__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.landingCard {
    width: 250px;
    height: 250px;
    margin: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingCountryImg {
    object-fit: cover;
    object-position: center;
    height: 100%;
    overflow: hidden;
}

.landingCardAnchor {
    text-decoration: none;
}

.landingPageCountryLabels {
    position: absolute;
}