.subheader {
    height: 400px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
}

.subheader__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 400px;
    opacity: .4;
}

h1 {
    font-size: 100px;
    color: white;
    position: absolute;
    align-self: center;
    z-index: 2;
}

h2 {
    text-align: center;
}